* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e9ff99;
  background-image: radial-gradient(
      at 29% 17%,
      hsla(13, 75%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 16% 86%, hsla(247, 80%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 77%, hsla(246, 64%, 76%, 1) 0px, transparent 50%);
  height: 100vh;
  width: 100vw;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 5rem;
  font-size: 1.2rem;
}

.nav-items a {
  all: unset;
  color: #222;
  font-weight: bold;
}

.nav-item {
  position: relative;
  cursor: pointer;
}

.active-nav {
  width: 100%;
  height: 4px;
  background-color: rgb(75, 20, 177);
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: -8px;
}
